<launch>

  <arg name="feeding" default="false" doc="Boolean flag of whether to set up the robot for the feeding demo"/>

   <!-- the controller node itself -->
   <node pkg="jaco_hardware"
          name="ros_control_kinova_jaco"
          type="jaco_hardware"
          output="screen" />

   <!-- load controllers -->
   <rosparam file="$(find ada_launch)/config/controllers.yaml" command="load" />

   <node name="controller_spawner_started" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="
         joint_state_controller

         " />
   <node name="controller_spawner_stopped" pkg="controller_manager" type="spawner" respawn="false"
      output="screen"
      args="
         --stopped
         move_until_touch_topic_controller
         trajectory_controller
         rewd_trajectory_controller
         j2n6s200_hand_controller
         " />

   <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" />

   <node name="st_map2world" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
      args="0 0 0 0 0 0 1 map world 10"/>


  <group unless="$(arg feeding)">
    <!-- load ada urdf -->
    <param name="robot_description"
          command="cat $(find ada_description)/robots_urdf/ada.urdf"/>
  </group>

  <group if="$(arg feeding)">

    <!-- load ada urdf -->
    <param name="robot_description"
          command="cat $(find ada_description)/robots_urdf/ada_with_camera_forque.urdf"/>

    <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
    <!-- multi view calibration -->
    <!-- Top Mount -->
    <!-- <node name="st_joule2camera" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
          args="0.041578 0.0210052 0.0256959 2.88299 3.11726 1.51345 j2n6s200_joule camera_link 10"/> -->
    <!-- Front Mount -->
    <!-- <node name="st_joule2camera" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
          args="0.0288936 0.0175522 0.00335085 3.06741 -3.12411 1.45708 j2n6s200_joule camera_link 10"/> -->
    <!-- NIPS Mount -->
    <!-- <node name="st_joule2camera" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
          args="0.050353 0.0302899 0.0290785 2.88836 3.07507 1.58419 j2n6s200_joule camera_link 10"/> -->

    <node name="st_joule2camera" pkg="tf" type="static_transform_publisher" respawn="false" output="screen"
          args="0.10909 0.0181061 0.0178372 2.8905 3.13479 1.59224 j2n6s200_joule camera_link 10"/>

    <!-- include file="$(find depth_image_proc)/launch/cloudify.launch" / -->

    <node pkg="deep_pose_estimators" type="run_detection.sh" name="deep_pose_estimators_detection" output="screen" cwd="node" />

  </group>

</launch>

